.time {
  border: -1px;
  vertical-align: top;
  position: relative;
  top: 0px;
  font-weight: lighter;
  text-align: right;
}

.min5{
   
}
.yellow{
  background-color: yellow;
  text-align: center;
}
