
table{
  border-collapse: collapse;
  font-family: 'TruenoRegular', sans-serif;
  background-color: bisque;
  text-align:center;
  font-weight: 300px;
}
.time {
  border: 10px;
  vertical-align: top;
  position: relative;
  top: -14px;
  font-weight: lighter;
  text-align: right;
  background-color:bisque;
}
.jour{
  background-color: papayawhip;
  
  width: 19%;
}
.midi{
  height: 25px;
  background: repeating-linear-gradient(#e66465, #e66465 25px, #9198e5 2px, #9198e5 2px);
  
}


.yellow{
  background-color: yellow;
  
}
.bleu {
  background-color:lightsteelblue;
  
}


.white {
  background-color: bisque;
 
}

.pink {
  background-color: palevioletred;
 
}
